@model IEnumerable<NLayerDepotsApp.WEB.Models.WeightInfoViewModel>
@{
    ViewBag.Title = "WeightInfo";
}

<h2>Summury weight of drug types:</h2>
<table class="table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th><p>Depot name</p></th>
            <th><p>Drug type name</p></th>
            <th><p>Weight (kg)</p></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td><p>@item.DepotName</p></td>
            <td><p>@item.DrugTypeName</p></td>
            <td><p>@String.Format("{0:0.00}", item.TotalWeight)</p></td>
        </tr>
    }
</table>